services:
  svr_a:
    build: $APP1_DIR/.
    #image: debian:12
    command: sleep infinity
    profiles:
      - p1
      - p1_3
    develop:
      watch:
        - action: sync
          path: $APP1_DIR/src1
          target: /app

  svr_b:
    build: $APP1_DIR/.
    #image: debian:12
    command: sleep infinity
    profiles:
      - p2
    develop:
      watch:
        - action: sync
          path: $APP1_DIR/src2
          target: /app

  svr_c:
    build: $APP1_DIR/.
    #image: debian:12
    command: sleep infinity
    profiles:
      - p3
      - p1_3
    develop:
      watch:
        - action: sync
          path: $APP1_DIR/src3
          target: /app

  svr_d:
    image: debian:12
    command: sleep infinity
    profiles:
      - p4
    develop:
      watch:
        - action: sync
          path: $APP1_DIR/src4
          target: /app

